@import "../../variables";

.reset-password-page-container {
  margin-bottom: 0;

  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: $accent-gradient;
    border-radius: 50%;
    filter: blur(250px);
  }
}

.reset-password-page-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .details-info-box {
    max-width: 400px;
  }
}
