@import "../../variables";

.refresh-icon {
  font-size: 12px;
  margin-inline: 2px;
  color: $accent-blue;
  cursor: pointer;

  &.loading {
    i {
      animation: spinner 1s linear infinite;
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
