$dark: #000;
$white: #fff;

$accent-blue: #4a7fd4;
$accent-green: #33c75a;
$accent-purple: #5d49d4;
$accent-pink: #ff7272;
$accent-purple-light: #af70ff;

$dark-blue: #091921;
$neon-blue: #55bdc7;

$white-transparent: rgba(255, 255, 255, 0.025);

$light-grey: #f8f8fa;
$grey: #f1f1f3;
$grey-shade-2: #eeeeee;
$text-grey: #c0c0c0;
$dark-grey: #8e8e8e;

$black-75: rgba(0, 0, 0, 0.75);
$black-60: rgba(0, 0, 0, 0.6);
$black-50: rgba(0, 0, 0, 0.5);
$black-shade-4: #3c4043;
$black-light: #1c1c1e;
$black-light-dark: #111111;
$black-light-dark-transparent: rgba(17, 17, 17, 0.5);

$blue: #007bff;
$green: #0f9d58;
$yellow: #ffc107;
$red: #d43544;

$google-blue: #4285f4;
$google-green: #34a853;
$google-yellow: #fbbc04;
$google-red: #ea4335;

$blue-gradient: linear-gradient(to right, #085078, #85d8ce);
$accent-gradient: linear-gradient(255.65deg, #5d49d4 0%, #4a7fd4 100%);
$accent-gradient-tabs: linear-gradient(180deg, #4a7fd4 0%, #5d49d4 100%);

$gen-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

$font-family: "Poppins", sans-serif;
$font-tagline: "Kalam", cursive;
